server:
  port: 9003

spring:
  application:
    name: dispatcher-service
  cloud:
    function:
      #??????????? ???????, ??????????? Spring Cloud Function, ?????? ?? DispatchingFunctions
      definition: pack|label

